body {
    padding-bottom: 300px;
}
.header {
    &__top-line {
        background-image: linear-gradient(to top, $second-color, $second-color-dark);
    }
    &__middle-line, &__bottom-line, &__top-line {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__bottom-line {
        background-image: linear-gradient(to top, $main-color, $main-color-light);
        box-shadow: -2px 2px 6px rgba(0,0,0,0.3);
    }
}
.menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    &__item {
        position: relative;
    }
    &__link {
        display: block;
        position: relative;
        padding: .6em .7em;
        &:hover, &:focus {
            text-decoration: none;
        }
        &_dropdown {
            padding-right: 1.8em;
            &:after {
                display: block;
                transform: rotate(45deg);
                position: absolute;
                right: .75em;
                top: 50%;
                margin-top: -.35em;
                width: .5em;
                height: .5em;
                border-bottom: 1px solid transparent;
                border-right: 1px solid transparent;
                content: "";
            }
        }
    }
    &_bange {
        position: absolute;
        bottom: 5px;
        right: 5px;
        text-align: center;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: $accent-color;
        color: #fff;
        font-size: 8px;
    }
}
// Тема для верхнего меню
.menu_theme_top {
    .menu__item {

    }
    .menu__link {
        font-size: 14px;
        font-weight: 300;
        color: #ededed;
        &:hover, &:focus {
            background-color: rgba(0,0,0,.05);
            color: #fff;
        }
        &_dropdown {
            &:after {
                border-bottom-color: #ededed;
                border-right-color: #ededed;
            }
        }
    }
}
// Тема меню с иконками
.menu_theme_icons {
    display: flex;
    flex-direction: row-reverse;
    .menu__item {

    }
    .menu__link {
        color: #fff;
        font-size: 18px;
        padding: .3em .7em;
        &:hover, &:focus {
            background-color: rgba(0,0,0,.05);
            color: #fff;
        }
    }
}
.dropdown-menu-search {
    padding: .5em;
}
.form-search {
    min-width: 250px;
}
// Тема для главного меню
.menu_theme_main {
    .menu__item {

    }
    .menu__link {
        font-size: 16px;
        color: #f1f1f1;
        padding: 1em .7em;
        &:hover, &:focus {
            background-color: rgba(255,255,255,.25);
            color: #fff;
        }
        &_dropdown {
            padding-right: 1.8em;
            &:after {
                border-bottom-color: #f1f1f1;
                border-right-color: #f1f1f1;
            }
        }
    }
}
// Логотип
.logo {
    width: 280px;
    padding: 3.5em 0 ;
    &__link {
        display: block;
    }
    &__image {
        
    }
}
// Адрес в хедере
.address {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 30%;
    flex-direction: column;
    padding-left: 1.5em;
    &__sc {
        justify-content: flex-start;
    }
    &__road {
        justify-content: flex-start;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: .8em;
        color: #b2b2b2;
        line-height: 1.2em;
        font-weight: 300;
        position: relative;
        // border-bottom: 1px dashed #f2f2f2;
        font-variant: small-caps;
        letter-spacing: .05em;
    }
    &__title-icon {
        position: absolute;
        left: -1.8em;
        top: 0;
    }
    &__title-text {
        font-size: .8em;
        background-color: #fff;
    }
    &__title-link {
        color: rgba($accent-color, .8);
        &:hover {
            color: $accent-color;
        }
    }
    &__address {
        display:block;
        font-size: .75em;
        color: #626262;
        margin-bottom: 1em;
        margin-top: .2em;
    }
    &__icon {
        color: #b2b2b2;
        font-size: .8em;
        
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        font-size: .8em;
        margin-top: .3em;
        margin-bottom: 0;
        color: #626262;
    }
    &__list-item {
        font-size: .9em;
        line-height: 1.2em;
        padding: .3em;
        &:first-child {
            padding-left: 0;
        }
    }
}
// Телефон
.phone {
    padding: 2em 0 2.5em 0;
    text-align: right;
    &__number {
        font-size: 2em;
        font-weight: 300;
    }
    &__after {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        
    }
}
.button-cta {
    position: relative;
    font-size: 14px;
    padding: .5em 1em .5em 3.5em;
    border: 2px solid $accent-color;
    border-radius: 20px;
    display: block;
    overflow: hidden;
    color: #666;
    background-color: #fff;
    &:hover, &:focus {
        background-color: #f1f1f1;
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }
    &_with-copy {
        padding-right: 2.5em;
    }
    & + & {
        margin-left: 15px;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 2em;
        padding: .32em;
        text-align: center;
        height: 1.7em;
        font-size: 1.5em;
        display: block;
        background-color: $accent-color;
        color: #fff;
        &.fa-envelope-o {
            padding: .3em;
        }
    }
    &__copy {
        position: absolute;
        right: 0;
        top: 0;
        padding: .32em;
        padding: .8em;
        text-align: center;
        color: #ccc;
        &:hover {
            color: #333;
        }
    }
}

//Хлебные крошки
.breadcrumb {
    font-size: 13px;
    margin-top: 1em;
    background-color: transparent;
    &__list {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: block;
        padding: .5em .4em;
        position: relative;
        padding-right: 1em;
        &:after {
            position: absolute;
            top: 50%;
            margin-top: -.1em;
            right: 0;
            width: .3em;
            height: .3em;
            content: '';
            border: .3em solid transparent;
            border-left: .3em solid #ccc;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    &__link {
        color: #999;
        &:hover, &:focus {
            color: #333;
            text-decoration: none;
        }
    }
}


// Карточка услуги
.service {
    &__title {
        font-family: $font-family-serif;
        padding-bottom: .2em;
        color: #333;
        // border-bottom: 1px solid #dedede;
        margin-bottom: 1em;
    }
    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__description {
        padding: 1.5em 0;
        color: #666;
        font-weight: 300;
    }
    &__description {
        p {
            margin-bottom: 10px;
        }
    }
}
.image-block {
    position: relative;
    flex: 0 0 30%;
    &__main-image {
        width: 100%;
        border-radius: 50%;
        border:5px solid $second-color;
        margin-bottom: 2em;
    }
}
.other-devices {
    display: flex;

    &__link {
        padding: .5em;
        &_active {
            color: #626262;
            background-color: $main-color;
            
            .other-devices__icon {
                color: #fff;
            }
        }
    }
    &__icon {
        font-size: 2.5em;
        color: #b2b2b2;
    }
}
.info-block {
    flex: 0 0 65%;
}
.price {
    position: relative;
    border-bottom: 1px solid rgba($accent-color, .3);
    
    
    
    &__value {
        font-size: 3em;
        font-weight: 400;
    }
    &__currency {
        font-size: 3em;
        font-weight: 400;
    }
    &__more-link {
        position: absolute;
        right: 0;
        bottom: .5em;
        display: block;
        font-size: 14px;
        line-height: 21px;
        padding: 0 .5em;
        color: $accent-color;
        &:hover, &:focus {
            color: darken($accent-color, 7.5%);
        }
    }
}
.area {
    &__title {
        font-size: 1.5em;
        font-weight: 300;
        color: #888;
        text-transform: uppercase;
        margin-bottom: .7em;
    }
}
.area-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.area-item {
    flex: 0 0 48%;
    max-width: 48%;
    position: relative;
    padding: .5em 1em .5em 4em;
    border: 1px solid #efefef;
    border-radius: .5em;
    &:hover {
        background-color: #f5f5f5;
        .area-item__link-more {
            border-color: $accent-color;
        }
    }
    
    &__title {
        font-size: 1.1em;
        color: #333;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__desc {
        font-size: .9em;
        font-weight: 300;
        color: #888;
    }
    &__link-more {
        position: absolute;
        bottom: -1.4em;
        right: .5em;
        font-size: 14px;
        padding: .5em 1em;
        border: 2px solid rgba($accent-color,.8);
        
        border-radius: 1.5em;
        display: block;
        overflow: hidden;
        color: #666;
        background-color: #fff;
        text-transform: uppercase;
        &:hover, &:focus {
            background-color: $accent-color;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
    }
    .fa {
        display: block;
        position: absolute;
        top: .25em;
        left: .25em;
        color: $second-color-light;
    }
}


// Блок с вкладками с дополнительной информацией

.detail-info {
    margin-top: 70px;
    border-bottom:2px solid $second-color-dark;
    .nav {
        background-color: $second-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        border-top:2px solid $second-color-dark;
    }
    .nav-link {
        color: #fff;
        font-weight: 300;
        text-shadow: $default-text-shadow;
        &.active {
            background-color: #fff;
            color: #666;
            border-top-color:$second-color;
            text-shadow: none;
            .fa {
                color: $second-color-dark;
            }
        }
        
        .fa {
            margin-right: 3px;
            color: #fff;
        }
    }
    .tab-pane {
        padding: 1.5em;
    }
}

// Блок вкладки Стоимость (подробно)
.price-more {
    margin-bottom: 35px;
    &__title {
        color: #888;
        text-transform: uppercase;
        font-family: $font-family-serif;
    }
    &__value {
        font-size: 2.2em;
        font-weight: 700;
        color: #666;
    }
    &__desc {
        color: #999;
        font-weight: 300;
        font-size: .9em;
        line-height: 1.2em;
        border-top: 1px solid #dedede;
        padding-top: .3em;
    }
}
// Блок "Вы получите" в блоке Стоимость (подробнее)
.total {
    background-color: $second-color-dark;
    margin: 0 -1.5em -1.5em -1.5em;
    padding: 1.5em 0;
    &__title {
        font-family: $font-family-serif;
        color: #fff;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: .5em;
        padding-bottom: .2em;
    }
    &__text {
        font-weight: 300;
        color: #fff;
        text-shadow: $default-text-shadow;
        p {
            margin-bottom: 0;
        }
        
    }
}

// Блок подробное описание
.description {
    font-weight: 300;
    font-style: 1.2em;
}

// Вкладка с видео
.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video-list-item {
    flex: 0 0 30%;
    margin-bottom: 40px;
    &__video {
        width: 100%;
        border: none;
    }
    &__title {
        color: #888;
        font-family: $font-family-serif;
    }
    &__desc {
        color: #777;
        font-weight: 300;
        line-height: 1.2em;
        font-size: .9em;
    }
}

// Вкладка с рекомендациями
.recommend {
    margin-bottom: 2em;
    &__title {
        color: #888;
        text-transform: uppercase;
        font-family: $font-family-serif;
    }
    &__desc {
        font-weight: 300;
        color: #333; 
    }
}

// Блок Сервисный центр
.service-center-block {
    padding: 80px 0;
    &__title {
        color: #888;
        text-transform: uppercase;
        font-family: $font-family-serif;
        text-align: center;
        margin-bottom: 1.5em;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    .map {
        flex: 0 0 55%;
    }
}

.service-center {
    flex: 0 0 40%;
    padding: 0 1.5em 1.5em 1.5em;
    text-align: right;
    &__header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        padding-bottom: .3em;
        border-bottom: 1px solid #dedede;
    }
    &__name {
        font-weight: 700;
        font-size: 1.4em;
        color: #333;
        margin-bottom: 0;
        
        text-transform: uppercase;
    }
    &__logo {
        width: 40px;
        height: 40px;
        float:left;
    }
    &__text {
        font-size: 1.1em;
        // font-weight: 300;
        margin-bottom: 5px;
    }
    &__coordinates {
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__coordinates-item {
        flex: 0 0 50%;
    }
    &__desc {
        font-weight: 300;
        line-height: 1.2em;
    }
    &__phone {
        font-size: 1.2em;
        margin-top: .7em;
        margin-bottom: 0;
    }
    &__mail {

    }
    &__mail-link {
        color: #333;
        font-size: 1.2em;
        &:hover {
            color: #000;
            text-decoration: none;
            padding-bottom: .1em;
            border-bottom: 1px solid rgba(0,0,0,.5);
        }
    }
}
// Блок режим работы
.work-time {
    margin-top: 25px;
    &__title {
        color: #666;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;

    }
}
.work-time-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    // max-width: 60%;
    margin-right: 0;
    margin-left: auto;
}
.work-time-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    &_now {
        border-bottom: 1px solid $accent-color;
    }
    &__day {
        color: #888;
        font-weight: 300;
        &_holiday {
            
        }
    }
    &__time {
        font-weight: 700;
        color: #454545;
    }
}
.service-center-cta {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 1.5em;
    &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5em;
        border-radius: .4em;
        &:hover, &:focus {
            text-decoration: none;
            background-color: rgba(0,0,0,.05);
            .service-center-cta__title {
                color: #000;
            }
        }
        & + & {
            margin-left: 2em;
        }
    }
    &__title {
        color: #666;
        font-weight: 300;
        font-size: .9em;
    }
    &__icon {
        color: $accent-color;
    }
}