// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Table of Contents
//
// Color system
// Options
// Spacing
// Body
// Links
// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components
// Tables
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code


//
// Color system
//
$main-color-light: #29B6F6;
$main-color: #03A9F4;
$main-color-dark:#039BE5;

$second-color-light: #9CCC65;
$second-color: #8BC34A;
$second-color-dark:#7CB342;

$accent-color: #FF1744;
$default-text-shadow: -1px 1px 2px rgba(0,0,0,.1);

$font-family-serif: 'Roboto Slab', Georgia, "Times New Roman", Times, serif !default;