.menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    &__item {
        position: relative;
    }
    &__link {
        display: block;
        position: relative;
        padding: .6em .7em;
        &:hover, &:focus {
            text-decoration: none;
        }
        &_dropdown {
            padding-right: 1.8em;
            &:after {
                display: block;
                transform: rotate(45deg);
                position: absolute;
                right: .75em;
                top: 50%;
                margin-top: -.35em;
                width: .5em;
                height: .5em;
                border-bottom: 1px solid transparent;
                border-right: 1px solid transparent;
                content: "";
            }
        }
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: #fff!important;
        
    }
    &__bange {
        position: absolute;
        bottom: 4px;
        right: 4px;
        text-align: center;
        width: 14px;
        border-radius: 7px;
        background-color: rgba($accent-color, .8);
        color: #fff;
        font-size: 9px;
        line-height: 14px;
    }
}
// Тема для верхнего меню
.menu_theme_top {
    .menu__item {

    }
    .menu__link {
        font-size: 14px;
        font-weight: 300;
        color: #ededed;
        &:hover, &:focus {
            background-color: rgba(0,0,0,.05);
            color: #fff;
        }
        &_dropdown {
            &:after {
                border-bottom-color: #ededed;
                border-right-color: #ededed;
            }
        }
    }
    .menu__icon {
        fill: #fff;
    }
}
// Тема меню с иконками
.menu_theme_icons {
    display: flex;
    flex-direction: row-reverse;
    .menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        padding: .3em .3em;
        margin: 0 0.1em;
        &:hover, &:focus {
            background-color: rgba(0,0,0,.05);
            color: #fff;
        }
    }
    .menu__icon {
        fill: #fff!important;
        
    }
}
.dropdown-menu-search {
    padding: .5em;
}
.form-search {
    min-width: 250px;
}
// Тема для главного меню
.menu_theme_main {
    .menu__item {

    }
    .menu__link {
        font-size: 16px;
        color: #f1f1f1;
        padding: 1em .7em;
        &:hover, &:focus {
            background-color: rgba(255,255,255,.25);
            color: #fff;
        }
        &_dropdown {
            padding-right: 1.8em;
            &:after {
                border-bottom-color: #f1f1f1;
                border-right-color: #f1f1f1;
            }
        }
    }
}