<section class="advantages">
  <h2 class="advantages__title">Почему мы?</h2>
  <div class="container">
    <div class="advantage">
      <svg class="advantage__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#expo"></use>
      </svg>
      <h3 class="advantage__title">Большой опыт</h3>
      <div class="advantage__description">
        Наш опыт работы на рынке услуг компьютерной помощи от 6 до 10 лет. У нас много постоянных клиентов. Возможно и Вы пришли к нам по рекомендации ваших друзей или коллег.
      </div>
    </div>
    <div class="advantage">
      <svg class="advantage__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#khimki"></use>
      </svg>
      <h3 class="advantage__title">Живем в Химках</h3>
      <div class="advantage__description">
        Работаем по Химкам и близ лежащим районам. Мы не хотим тратить много времени на дорогу. Нам важно оперативно приехать и решить Ваши проблемы.
      </div>
    </div>
    <div class="advantage">
      <svg class="advantage__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#key"></use>
      </svg>
      <h3 class="advantage__title">Фиксированные цены</h3>
      <div class="advantage__description">
        У нас все цены фиксированы и соответствуют прайс-листу на настоящем сайте. В договоре будут указаны все условия и дополнительные оплаты. Если что-то сделано сверх договора без согласования с Вами, то Вы можете такую работу не оплачивать и считать это подарком от нас.
      </div>
    </div>
    <div class="advantage">
      <svg class="advantage__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#garanty"></use>
      </svg>
      <h3 class="advantage__title">Гарантия на комплектующие</h3>
      <div class="advantage__description">
        Для ремонта ноутбуков и компьютеров клиентов мы покупаем только новые запчасти у проверенных поставщиков. Это гарантирует высокое качество, подтверждается долгим сроком работы и наличием гарантии производителя.
      </div>
    </div>
  </div>
</section>