<nav class="breadcrumb">
  <div class="container">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link"><i class="fa fa-home"></i></a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Услуги</a></li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Ремонт устройств</a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Ноутбук</a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Замена матрицы</a>
      </li>
    </ol>
  </div>
</nav>