<nav class="breadcrumb">
  <div class="container">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">
          <svg class="breadcrumb__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#home"></use>
          </svg>
        </a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Услуги</a></li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Ремонт устройств</a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Ноутбук</a>
      </li>
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Замена матрицы</a>
      </li>
    </ol>
  </div>
</nav>