<div class="service" itemscope itemtype="http://schema.org/Service">
  <meta itemprop="serviceType" content="Ремонт" />
  <meta itemprop="category" content="Ремонт ноутбуков" />
  <div class="container">
    <h1 class="service__title" itemprop="name">Замена матрицы ноутбука</h1>
    <main class="service__main">
      <div class="image-block">
        <img src="http://s-komkm.udelta.ru/images/zamena-matrizi.jpg" alt="Замена матрицы ноутбука" class="image-block__main-image"
          itemprop="image" />
        <%- include service/other-devices %>
      </div>
      <%- include service/info-block %>
    </main>
  </div>
  <%- include service/detail-info %>
  <%- include service-center-block %>
</div>