<section class="service-center-block" id="service-center-block">
  <h2 class="service-center-block__title">Наш сервисный центр в Химках</h2>
  <div class="container">
    <div class="map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8c6b8e523a1c3adf644f8e9c0aa97ff3f3a33fe839b8699b48ba1689fd8f4801&amp;width=100%25&amp;height=560&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
    <div class="service-center" itemprop="provider" itemscope itemtype="http://schema.org/ProfessionalService">
      <div class="service-center__header">
        <img class="service-center__logo" src="/assets/images/logo-only-komkm.svg" itemprop="image logo" alt="Логотип Команды компьютерных мастров"
        />
        <h3 class="service-center__name" itemprop="name">Команда компьютерных мастеров</h3>
      </div>

      <meta itemprop="priceRange" content="$$" />
      <meta itemprop="currenciesAccepted" content="RUB" />
      <p class="service-center__text" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <meta itemprop="postalCode" content="141407" />
        <meta itemprop="addressCountry" content="Российская Федерация" />
        <meta itemprop="addressRegion" content="Московская область" />
        <span itemprop="addressLocality">г. Химки</span>, <span itemprop="streetAddress">ул. Горшина 1, Подъезд №2</span>
      </p>
      <p class="service-center__desc" itemprop="description">Вход в сервис находиться около подъезда №2 со стороны остановки "Юбилейный проспект"</p>
      <div class="service-center__coordinates">
        <div class="service-center__coordinates-item">55°53′17″N, 37°25′47″E</div>
        <div class="service-center__coordinates-item">55.888099, 37.429601</div>
      </div>
      <p class="service-center__phone" itemprop="telephone">+7 (495) 623-40-56</p>
      <p class="service-center__mail"><a href="mailto:center@komkm.ru" class="service-center__mail-link">center@komkm.ru</a></p>
      <div class="work-time">
        <h4 class="work-time__title">Время работы</h4>
        <meta itemprop="openingHours" content="Mo,Tu,We,Th,Fr 10:00-19:00, Sa 11:00-17:00, Su 11:00-15:00" />
        <ul class="work-time-list">
          <li class="work-time-item">
            <div class="work-time-item__day">Понедельник</div>
            <div class="work-time-item__time">10:00 - 19:00</div>
          </li>
          <li class="work-time-item work-time-item_now">
            <div class="work-time-item__day">Вторник</div>
            <div class="work-time-item__time">10:00 - 19:00</div>
          </li>
          <li class="work-time-item">
            <div class="work-time-item__day">Среда</div>
            <div class="work-time-item__time">10:00 - 19:00</div>
          </li>
          <li class="work-time-item">
            <div class="work-time-item__day">Четверг</div>
            <div class="work-time-item__time">10:00 - 19:00</div>
          </li>
          <li class="work-time-item">
            <div class="work-time-item__day">Пятница</div>
            <div class="work-time-item__time">10:00 - 19:00</div>
          </li>
          <li class="work-time-item">
            <div class="work-time-item__day work-time-item__day_holiday">Суббота</div>
            <div class="work-time-item__time">11:00 - 17:00</div>
          </li>
          <li class="work-time-item">
            <div class="work-time-item__day work-time-item__day_holiday">Воскресенье</div>
            <div class="work-time-item__time">11:00 - 15:00</div>
          </li>
        </ul>
      </div>
      <div class="service-center-cta">
        <a href="#" class="service-center-cta__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Скачать файл PDF с картой">
            <svg class="service-center-cta__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#download"></use>
              </svg>
            <span class="service-center-cta__title">Скачать PDF</span>
          </a>
        <a href="#" class="service-center-cta__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Распечатать карту">
            <svg class="service-center-cta__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#printer"></use>
              </svg>
            <span class="service-center-cta__title">Распечатать</span>
          </a>
      </div>
    </div>
  </div>
</section>