<div class="area">
  <h3 class="area__title">Услугу можем оказать:</h3>
  <ul class="area-list">
    <li class="area-item">
      <svg class="area-item__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#place"></use>
      </svg>
      <h4 class="area-item__title">В сервисном центре в Химках</h4>
      <p class="area-item__desc">Приносите ваш ноутбук к нам</p>
      <a href="#service-center-block" class="area-item__link-more" id="service-center-link">Адрес</a>
    </li>
    <li class="area-item">
      <svg class="area-item__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#shipping"></use>
      </svg>
      <h4 class="area-item__title">На выезде по Химкам </h4>
      <p class="area-item__desc">Вызовите нашего мастера на дом или офис</p>
      <a href="" class="area-item__link-more">Вызов</a>
    </li>
  </ul>
</div>