<div class="detail-info" id="detail-info">

  <nav class="nav">
    <a class="nav-link active" data-toggle="tab" href="#price" id="price-tab-link">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#balance"></use>
        </svg> Стоимость
    </a>
    <a class="nav-link" data-toggle="tab" href="#description">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#info"></use>
        </svg> Описание
    </a>
    <a class="nav-link" data-toggle="tab" href="#video">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#videocam"></use>
        </svg> Видео
    </a>
    <a class="nav-link" data-toggle="tab" href="#recommendations">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#warning"></use>
        </svg> Рекомендации
    </a>
    <a class="nav-link" data-toggle="tab" href="#faq">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#help"></use>
        </svg> Вопросы - ответы
    </a>
    <a class="nav-link" data-toggle="tab" href="#reviews">
        <svg class="detail-info__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#forum"></use>
        </svg> Отзывы
    </a>
  </nav>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="price">
      <div class="container">
        <div class="price-more">
          <h5 class="price-more__title">Стоимость услуги</h5>
          <span class="price-more__value">1000 руб.</span>
        </div>
        <div class="price-more">
          <h5 class="price-more__title">Стоимость компонентов</h5>
          <span class="price-more__value">от 2100 до 12000 руб.</span>
          <p class="price-more__desc">Цена матрицы зависит от модели ноутбука (его размера и конструктивных особенностей). В большинстве случаев мы сможем
            назвать цену матрицы по телефону после уточнения модели ноутбука еще до заказа. В некоторых случаях точную цену
            можно узнать только после снятия старой матрицы и подбора аналога по парт-номеру (P/N).
          </p>
        </div>
      </div>
      <div class="total">
        <div class="container">
          <h2 class="total__title">Заказав услугу, Вы получите</h2>
          <div class="total__text">
            <p>Ноутбук с работающим экраном.</p>
            <p>Перед заменой мы убедимся, что все остальное оборудование ноутбука работает, так как при ударе повреждения могут
              получить и другие компоненты ноутбука, и после замены матрицы "всплывают" дополнительные затраты. Мы предупреждаем
              о них до начала работ, и только после этого Вы принимаете решение о необходимости замены.
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="tab-pane" id="description">
      <div class="container">
        <div class="description">
          <p>Матрица - самый хрупкий элемент ноутбука. Ее можно разбить, раздавить, сильно поцарапать, и работать на ноутбуке,
            с поврежденной матрицей становиться не возможно.</p>
          <p>Сложность замены матрицы не зависит от производителя, больше это касается конкретных моделей ноутбуков. Но, так
            как мы имеем большой опыт в разборке и сборке ноутбуков, сложности в замене матрицы для нас нет.
          </p>
          <p>Мы можем заменить экран в ноутбуке любого производителя. В том числе: Asus, Acer, HP, MSI, Toshiba, Samsung, Compaq,
            DELL, eMachines, Fujitsu, Gigabyte, Lenovo, LG, Packard Bell, Sony.</p>
          <p>Стоимость матрицы сильно зависят от конкретных моделей ноутбука, так что точную цену услуги уточняйте по телефону.
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="video">
      <div class="container">
        <div class="video-list">
          <div class="video-list-item">
            <iframe src="https://www.youtube.com/embed/9iT-rGDCo6E" class="video-list-item__video" allowfullscreen></iframe>
            <h4 class="video-list-item__title">Замена матрицы</h4>
            <p class="video-list-item__desc">Данное видео поможет Вам понять как без последствий для ноутбука заменить матрицу в домашних условиях.
            </p>
          </div>
          <div class="video-list-item">
            <iframe src="https://www.youtube.com/embed/taC6w9jXHac" class="video-list-item__video" allowfullscreen></iframe>
            <h4 class="video-list-item__title">Замена матрицы</h4>
            <p class="video-list-item__desc">Данное видео поможет Вам понять как без последствий для ноутбука заменить матрицу в домашних условиях.
            </p>
          </div>
          <div class="video-list-item">
            <iframe src="https://www.youtube.com/embed/flvbteYj7_Y" class="video-list-item__video" allowfullscreen></iframe>
            <h4 class="video-list-item__title">Замена матрицы</h4>
            <p class="video-list-item__desc">Данное видео поможет Вам понять как без последствий для ноутбука заменить матрицу в домашних условиях.
            </p>
          </div>
          <div class="video-list-item">
            <iframe src="https://www.youtube.com/embed/9iT-rGDCo6E" class="video-list-item__video" allowfullscreen></iframe>
            <h4 class="video-list-item__title">Замена матрицы</h4>
            <p class="video-list-item__desc">Данное видео поможет Вам понять как без последствий для ноутбука заменить матрицу в домашних условиях.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="recommendations">
      <div class="container">
        <div class="recommend">
          <h5 class="recommend__title">Совет</h5>
          <p class="recommend__desc">Если повреждена только матрица, а в остальном ноутбук рабочий, то временно можно подключить его к телевизору или
            монитору, и использовать, как системный блок.</p>
        </div>
        <div class="recommend">
          <h5 class="recommend__title">Предупреждение</h5>
          <p class="recommend__desc">Перед заказом замены стоит убедиться в работоспособности ноутбука после повржедения экрана.</p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="faq" role="tabpanel">
      <div class="container">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Collapsible Group Item #1
      </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Collapsible Group Item #2
      </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Collapsible Group Item #3
      </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="reviews" role="tabpanel">
      <div class="container">Отзывы
      </div>
    </div>
  </div>
</div>