<div class="info-block">
  <%- include price %>
  <div class="service__description" itemprop="description">
    <p>Матрица - самый хрупкий элемент ноутбука. Ее можно разбить, раздавить, сильно поцарапать, и работать на ноутбуке,
      с поврежденной матрицей становиться не возможно.</p>
    <p>Сложность замены матрицы не зависит от производителя, больше это касается конкретных моделей ноутбуков. Но, так
      как мы имеем большой опыт в разборке и сборке ноутбуков, сложности в замене матрицы для нас нет.
    </p>
  </div>
  <%- include area %>
</div>