<div class="other-devices">
    <a href="#" class="other-devices__link other-devices__link_active" data-container="body" data-toggle="popover" data-placement="bottom"
        data-content="Замена матрицы ноутбука">
<i class="fa fa-laptop other-devices__icon"></i>
</a>
    <a href="#" class="other-devices__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Замена матрицы планшета">
<i class="fa fa-tablet other-devices__icon"></i>
</a>
    <a href="#" class="other-devices__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Замена матрицы телефона">
<i class="fa fa-mobile other-devices__icon"></i>
</a>
    <a href="#" class="other-devices__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Замена матрицы моноблока">
<i class="fa fa-desktop other-devices__icon"></i>
</a>
    <a href="#" class="other-devices__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Замена матрицы телевизора">
<i class="fa fa-television other-devices__icon"></i>
</a>
</div>