<div class="address">
  <div class="address__sc">
    <div class="address__title">
      <i class="fa fa-map-marker fa-fw address__title-icon"></i>
      <span class="header__title-text">Сервисный центр</span>
    </div>
    <span class="address__address">г. Химки, ул. Горшина 1</span>
  </div>
  <div class="address__road">
    <div class="address__title">
      <i class="fa fa-map-o fa-fw address__title-icon"></i>
      <span class="header__title-text">Регионы обслуживания</span>
      <a href="" class="address__title-link">Все</a>
    </div>
    <ul class="address__list">
      <li class="address__list-item">Сходня</li>
      <li class="address__list-item">Новогорск</li>
      <li class="address__list-item">Куркино</li>
      <li class="address__list-item">Подрезкого</li>
    </ul>
  </div>
</div>