<ul class="menu menu_theme_top">
  <li class="menu__item dropdown">
    <a href="#" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Команда</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">О команде</a>
      <a class="dropdown-item" href="#">Наша миссия</a>
      <a class="dropdown-item" href="#">Наши принципы</a>
      <a class="dropdown-item" href="#">Реквизиты</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="#" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Клиентам</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Гарантия</a>
      <a class="dropdown-item" href="#">Оплата</a>
      <a class="dropdown-item" href="#">Преимущества</a>
      <a class="dropdown-item" href="#">Отзывы клиентов</a>
      <a class="dropdown-item" href="#">Проверить статус ремонта</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="#" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сервисный центр</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">О сервисном центре</a>
      <a class="dropdown-item" href="#">Схема проезда</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="#" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ремонт на выезде</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">География обслуживания</a>
      <a class="dropdown-item" href="#">Вызвать мастера</a>
    </div>
  </li>
  <li class="menu__item"><a href="#" class="menu__link">Магазин</a></li>
  <!--<li class="menu__item"><a href="#" class="menu__link">Вакансии</a></li>-->
  <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
</ul>