<ul class="menu menu_theme_main">
  <li class="menu__item dropdown">
    <a href="" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ремонт устройств</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Ноутбуки</a>
      <a class="dropdown-item" href="#">Компьютеры</a>
      <a class="dropdown-item" href="#">Планшеты</a>
      <a class="dropdown-item" href="#">Мобильные телефоны</a>
      <a class="dropdown-item" href="#">Принтера и МФУ</a>
      <a class="dropdown-item" href="#">GPS навигаторы</a>
      <a class="dropdown-item" href="#">Телевизоры</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Компьютерная помощь</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Установка программ</a>
      <a class="dropdown-item" href="#">Настройка программного обеспечения</a>
      <a class="dropdown-item" href="#">Удаление вирусов и программ</a>
      <a class="dropdown-item" href="#">Обслуживание</a>
      <a class="dropdown-item" href="#">Сборка компьютера под заказ</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сети и интернет</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Прокладка сетей</a>
      <a class="dropdown-item" href="#">Настройка</a>
      <a class="dropdown-item" href="#">Исправление проблем</a>
    </div>
  </li>
  <li class="menu__item dropdown">
    <a href="" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Восстановление данных</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Устройства</a>
      <a class="dropdown-item" href="#">Виды данных</a>
      <a class="dropdown-item" href="#">Проишествия</a>
    </div>
  </li>
</ul>
<ul class="menu menu_theme_main">
  <li class="menu__item dropdown">
    <a href="#" class="menu__link menu__link_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Онлайн помощь</a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Типовые неисправности</a>
      <a class="dropdown-item" href="#">Все вопросы</a>
      <a class="dropdown-item" href="#">Задать свой вопрос</a>
    </div>
  </li>
</ul>