<ul class="menu menu_theme_icons">
  <li class="menu__item dropdown">
    <a href="#" class="menu__link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Профиль</a>
      <a class="dropdown-item" href="#">Мои ремонты</a>
      <a class="dropdown-item" href="#">Тикеты</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Выход</a>
    </div>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
    <div class="dropdown-menu dropdown-menu-search dropdown-menu-right">
      <form action="/" class="form-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Поиск...">
          <div class="input-group-btn">
            <button class="btn btn-secondary" type="button">OK</button>
          </div>
        </div>
      </form>
    </div>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="1 сообщение в онлайн чате">
                    <i class="fa fa-comments-o"></i>
                </a>
    <span class="menu_bange">1</span>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link"><i class="fa fa-shopping-cart"></i></a>
    <span class="menu_bange">2</span>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Отложенные товары и услуги">
                    <i class="fa fa-heart-o"></i>
                </a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Проверка статуса ремонта">
      <svg class="contacts-list-item__icon-image" style="width: 24px; height: 24px;">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#home"></use>
      </svg>
    </a>
    <span class="menu_bange">99</span>
  </li>
</ul>