<div class="phone">
  <div class="phone__number">+7 (495) 623-40-75</div>
  <div class="phone__after">
    <a href="mailto:info@komkm.ru" class="button-cta button-cta_with-copy">
      <svg class="button-cta__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#mail"></use>
      </svg> info@komkm.ru
      <svg class="button-cta__copy"data-container="body" data-toggle="popover" data-placement="bottom" data-content="Скопировать адрес в буфер обмена">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#copy"></use>
      </svg>
    </a>
    <button class="button-cta" data-toggle="modal" data-target="#callme-modal">
      <svg class="button-cta__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#call"></use>
      </svg>
      Перезвоните мне
    </button>
  </div>
</div>