<div class="phone">
  <div class="phone__number">+7 (495) 623-40-75</div>
  <div class="phone__after">
    <a href="mailto:info@komkm.ru" class="button-cta button-cta_with-copy">
      <i class="fa fa-envelope-o button-cta__icon"></i> info@komkm.ru
      <i class="fa fa-files-o button-cta__copy" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Скопировать адрес в буфер обмена"></i>
    </a>
    <button class="button-cta" data-toggle="modal" data-target="#callme-modal">
      <i class="fa fa-phone button-cta__icon"></i>
      Перезвоните мне
    </button>
  </div>
</div>