.button-cta {
    position: relative;
    font-size: 14px;
    padding: .5em 1em .5em 3.5em;
    border: 2px solid $accent-color;
    border-radius: 20px;
    display: block;
    overflow: hidden;
    color: #666;
    background-color: #fff;
    &:hover, &:focus {
        background-color: #f1f1f1;
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }
    &_with-copy {
        padding-right: 2.5em;
    }
    & + & {
        margin-left: 15px;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        padding: 6px 7.5px;
        text-align: center;
        height: 35px;
        display: block;
        background-color: $accent-color;
        fill: #fff;
    }
    &__copy {
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        text-align: center;
        fill: #ccc;
        &:hover {
            fill: #333;
        }
    }
}